.card-body{
  color: #438ea4;
  text-align: center;
  width: 200px;
  height: 200px;

}
.btn{
  background-color: transparent;
  border-color: darkgray;
  font-family: "Arial Black", serif;
  color: darkgray;
}
img{
  width: 200px;
}
