<div>
  <div class="d-flex">
    <app-zona-norte></app-zona-norte>
    <app-zona-centro></app-zona-centro>
    <app-zona-sur></app-zona-sur>
  </div>
  <div>

  </div>
</div>


<!--<div class="card" style="width: 18rem;">
  <img src="assets/norte.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Zona Norte</h5>
    <a href="https://radiochilena.cl/5-localidades-del-norte-de-chile-que-debes-visitar/" class="btn btn-primary" target="_blank">Quiero saber más</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../assets/centro.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Zona Centro</h5>
    <a href="https://primerochile.cl/zona-central-de-chile/" class="btn btn-primary" target="_blank">Quiero saber más</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../assets/sur.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Zona Sur</h5>
    <a href="https://radiochilena.cl/los-mejores-lugares-turisticos-del-sur-de-chile/" class="btn btn-primary" target="_blank">Quiero saber más</a>
  </div>
</div>-->
